<div class="mt-32 flex flex-col items-center">
  <% if personas.empty? %>
    <p class="text-lg">No configration found please restart the server with a path to a directory containing the configuration!</p>
  <% else %>
    <h2 class="text-2xl">Configuration</h2>
    <div class="grid gap-x-8 gap-y-4 grid-cols-3">
      <% personas.each do |persona| %>
        <%= erb :user_config, locals: {persona: persona} %>
      <% end %>
    </div>
    <div class="my-16 w-1/5">
      <form action="/start" method="post">
        <input type=submit value="Start" class="py-3 shadow-slate-900 shadow-lg rounded bg-amber-700 hover:bg-amber-800 text-xl text-center w-full">
      </form>
    </div>
  <% end %>
</div>
