<div class="mt-32 h-full flex flex-col items-center">
  <% if personas.empty? %>
    <p class="text-lg">No configration found please restart the server with a path to a directory containing the configuration!</p>
  <% else %>
    <h2 class="text-2xl">Configuration</h2>
    <div class="w-1/5">
      <% personas.each do |persona| %>
        <%= erb :user_config, locals: {persona: persona} %>
      <% end %>
      <form action="/start" method="post" class="mt-16 w-full">
        <input type=submit value="Start" class="py-3 shadow-slate-900 shadow-lg rounded bg-amber-700 hover:bg-amber-800 text-xl text-center w-full">
      </form>
    </div>
  <% end %>
</div>
