<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lavin load testing</title>
  <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-cyan-800">
  <div class="h-screen flex flex-col">
    <div>
      <h1 class="mt-16 text-center text-4xl"><strong class="text-6xl">Lavin</strong> load testing</h1>
    </div>
    <%= yield %>
  </div>
</body>
