<div class="flex flex-col items-center">
  <h1 class="mt-16 text-2xl text-center">Sorry, this page does not exist!</h1>
  <a href="/index" class="mt-8 bg-slate-500 p-2 shadow-slate-900 shadow-lg rounded hover:bg-slate-600">Back to start</a>
</div>
